:root {
  --primary: #4e55b8;
  --lightPrimary: #6769a6;
}

* {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.navbar {
  background: rgb(211, 208, 208);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-item {
  font-weight: bold;
}
.imager {
  padding: 10px;
  height: 30px;
}
.flex_container {
  display: flex;
}
.justifier_navbar {
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  margin-bottom: 10px;
}
textarea {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;

  border-radius: 10px;
  height: 50px;
}
.logo_wrapper {
  background-color: var(--lightPrimary);
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: 1px dashed var(--primary);
  padding: 5px;
  letter-spacing: 5px;
}
.flex_containers {
  display: flex;
}
.introPart {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  background: beige;
  margin: auto;
}
.intro_text {
  line-height: 20px;
  font-size: 14px;
}
.profile_pic {
  background: url(./../Images/myImage.jpeg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.divider {
  height: 2px;
  background: rgb(218, 214, 209);
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.primary_button {
  cursor: pointer;
  margin: 10px;
  background: var(--primary);
  padding: 15px;
  border: 0;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #7a6df0;
  transition: all 0.2s;
}
.primary_button:hover {
  padding: 18px;
}
.rounded_Card {
  cursor: pointer;
  margin-top: 20px;
  padding: 20px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 3px #eeeaea;
}
.asdf :hover {
  background: #e7e7e7;
}
.banner {
  background-color: var(--lightPrimary);
  height: 200px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 78px;
}
.images {
  background: url(./../Images/contact_me.jpg);
  height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.comtact_me {
  width: 500px;
  padding-left: 30px;
}
.footer {
  width: 100%;
  padding: 10px;
  align-items: center;
  background: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .flex_container {
    flex-direction: column;
    padding: 10px;
  }

  .comtact_me {
    padding-left: 10px;
  }
  .navbar_mobile {
    flex-direction: row !important ;
  }
  .images {
    display: none;
  }
}
